@import "../../../styles/variables";

.wrapper{
  display: flex;
  @media only screen and (max-width: 850px) {
    flex-direction: column;
  }
}
.coverWrapper{
  background-color: $grey;
  padding: 50px 100px;
  @media only screen and (max-width: 850px) {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}
.bookImage{
  width: 256px;
  height: 384px;
}
.aboutWrapper{
  width: 100%;
  padding: 50px;
  @media only screen and (max-width: 850px) {
    padding: 20px;
  }
}
.categories{
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 30px;
}
.title {
  margin-bottom: 15px;
}
.authors{
  color: #bbbab9;
  font-size: 21px;
  text-decoration: underline;
  margin-bottom: 15px;
}
.descWrapper{
  width: 100%;
  min-height: 200px;
  padding: 20px;
  border: $dark-grey solid 1px;
}
.description{
  font-weight: 600;
}