@import "../../styles/variables";

.wrapper{
   width: 100%;
   padding: 50px 0;
   background: url("../../img/header-books.jpg") no-repeat ;
   background-size: cover;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.title{
   margin:0 15px 30px;
   text-align: center;
}
.form{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.textInput{
   margin-bottom: 20px;
   padding: 5px;
   font-size: 24px;
   line-height: 25px;
   width: 90%;
}
.selectsWrapper{
   @media only screen and (max-width: 786px) {
      display: flex;
      flex-direction: column;
   }
}
.selectInput{
   padding: 5px;
   font-size: 24px;
   line-height: 25px;
   color: $dark-grey;
   margin-left: 15px;
   width: 250px;
   @media only screen and (max-width: 786px) {
      margin: 20px 0;
   }
}
.label{
   @include common-h2;
   &:first-child{
      margin-right: 20px;
      @media only screen and (max-width: 786px) {
         margin-right: 0;
      }
   }
   @media only screen and (max-width: 786px) {
      display: flex;
      flex-direction: column;
   }
}
.submitBtn{
   position: absolute;
   width: 28px;
   height: 28px;
   right: 40px;
   top: 5px;
   background: url("../../img/search.svg") center no-repeat;
   background-size: contain;
}
