@import "../../../styles/variables";

.wrapper{
  width: 300px;
  min-height: 550px;
  background: $grey;
  padding: 40px 15px 15px;
  margin:0 15px 35px;
}
.image{
  margin: 0 auto;
  display: block;
  width: 165px;
  height: 264px;
  box-shadow: #4b4a4a 5px 7px 18px 0;
}
.category{
  color: $dark-grey;
  font-size: 21px;
  text-decoration: underline;
  margin: 30px 0 15px;
}
.title{
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 5px;
  color: $black;
}
.authors{
  color: $dark-grey;
  font-size: 19px;
}